<div class="container">
  <%=  nested_form_for $pilgrim , url: {action: "create"} do |f| %> 


    <div class="row">
     <div class="col-sm-12">
      <%= f.label :firstname, class: "col-sm-1" %>  
        <%= f.text_field :firstname,class: "col-sm-2"%> 

        <%= f.label :middlename, class: "col-sm-1" %>
        <%= f.text_field :middlename ,class: "col-sm-2" %> 

        <%= f.label :lastname, class: "col-sm-1" %>
        <%= f.text_field :lastname ,class: "col-sm-2" %>
      </div>
    </div><br/>
<div class="field">
  <%= f.hidden_field :package_id, :value => @package.id %>
</div>

    <div class="row">
      <div class="col-sm-12">

        <%= f.label :email, class: "col-sm-1" %>  
        <%= f.email_field :email,class: "col-sm-2" %>

        <%= f.label :mobile_number, class: "col-sm-1" %>  
        <%= f.text_field :mobile_number,class: "col-sm-2" %>       
         
        <%= f.label :gender, class: "col-sm-1" %> 
        <%= f.select :gender, "<option></option><option>Male</option><option>Female</option>".html_safe ,class: "col-sm-2"%> 
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.label :age_group, class: "col-sm-1" %>  
        <%= f.text_field :age_group,class: "col-sm-2" %> 

        <%= f.label :passport_number, class: "col-sm-1" %>  
        <%= f.text_field :passport_number,class: "col-sm-2" %> 
         <%= f.label :passport_number, class: "col-sm-1" %>  
        <%= f.file_field :passport_number,class: "col-sm-2" %> 
          
      </div>
    </div>

    

<h2> Add Passengers </h2>

    <div class="row123">
      <%= f.fields_for :copilgrims do |ff| %>
        <% render "copilgrims",:ff => ff %>
      <%end%>
    </div><br/>
 

   <p><%= f.link_to_add "Add Passengers", :copilgrims, class: "btn btn-success btn-sm pull-right"  %></p>

    <div class="row">
      <%= link_to "Back", root_path, class: "btn btn-warning" %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
    </div>  
    
  <% end %>
</div>



