<h1>Trip Details</h1>



<p id="notice"><%= notice %></p>

<p>
  <strong> Package Name:</strong>
  <%= @data.package.name%>
</p>

<p>
  <strong>Passenger Name:</strong>
  <%= @data.firstname %>
</p>

<p>
  <strong>Passenger Email:</strong>
  <%= @data.email %>
</p>

<p>
  <strong>Passenger Age:</strong>
  <%= @data.age_group %>
</p>

<p>
  <strong>Passenger Gender:</strong>
  <%= @data.gender %>
</p>

<p>
  <strong>Passenger Passport Number:</strong>
  <%= @data.passport_number %>
</p>

<h2>Co-Pilgrims</h2>

<% @data.copilgrims.each do |cp| %>
<%= cp.firstname %>
<% end %>

<p>
  <strong>Number Of Passengers: <%= (@data.copilgrims.count + 1)%>
</strong>
</p>

<p>
  <strong>Total Price:</strong>
  <%= (@data.copilgrims.count + 1) * @data.package.price %>
</p>



<%= link_to "Make Payment", stripecheckout_path(@data) %>






